<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{url_for('static', filename = 'images/AmpliFYbig.jpg')}}">

  <meta name="viewport" content="width=device-width" initial-scale="1">
  <header>
    <div class="wrapper" id="wrapper">
      <center>
        <nav>
          <a href="{{url_for('index')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">HOME</button></a>
          <a href="{{url_for('about')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ABOUT</button></a>
          <a href="{{url_for('artist')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ARTISTS</button></a>
          <a href="{{url_for('album')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ALBUMS</button></a>
          <a href="{{url_for('tracks')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">TRACKS</button></a>
        </nav>
      </center>
    </div>
  </header>

  <style>
    p {
      color: #efefef;
    }

    h2 {
      color: #efefef;
    }

    .title {
      color: #6d6d6d;
    }

    html {
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    .column {
      float: left;
      width: 50%;
      margin-bottom: 16px;
      padding: 0 8px;
    }

    .double-width-card {
      width: 202.22222%;
      /* 2x the original width of 100, 2.2 adjusts for the gap in between*/
    }


    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      height: 100%;
    }

    .container {
      padding: 0 16px;
    }

    .container::after,
    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    .card {
      background-color: #444444;
      text-align: center
    }

    .img-centered {
      display: inline-block;
      margin: 0 auto;
    }


    .button1 {
      padding: 8px;
      color: #188B20;
      background-color: #EFEFEF;
      cursor: pointer;
      width: 100%;
    }

    body {
      background-color: #101010;
    }

    header {
      height: 75px;
      background-color: #101010;
      z-index: 9001;
      text-decoration: none;
    }

    #wrapper {
      margin-left: auto;
      margin-right: auto;
      display: inline;
      position: relative;
      top: 30%;
      text-decoration: none;
    }

    .cent {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
      pointer-events: none;
    }

    button {
      background-color: #101010;
      color: white;
      border: 2px solid #4CAF50;
      /* Green */
      text-decoration: none;
      font-size: 110%;
      border-radius: 20px;
      width: 12%;
      text-align: center;
    }

    button:hover {
      background-color: white;
      color: #4CAF50;
	  transition-duration: 0.35s;
    }
	
	.button1:hover {
	  background-color: #4CAF50;
	  color: white;
	  transition-duration: 0.35s;
	}

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }
  </style>
</head>

<body style="background-color:#101010;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <br>
          <h2 style="color:green;">Project Group 6: The AmpliFYers</h2>
          <p style="color:green;">Purpose: This website will help users find new music to listen to with the help of interesting metrics about specific Artists, Albums, and Tracks such as danceability, loudness, tempo, and much more.</p>
        </div>
      </div>
    </div>

  <div class="mt-4">
    <div class="container text-center">
      <div class="row">
        <div class="column">
          <div class="card">
            <img class="img-centered" src="{{url_for('static', filename = 'images/ng.jpg')}}" alt='nikhil headshot'
              width="300" height="300">
            <div class="container">
              <h2>Nikhil Garlapati</h2>
              <a href="mailto:nikhil.garlapati@utexas.edu">nikhil.garlapati@utexas.edu</a>
              <br><br>
              <p>I'm a Sophomore Biochemistry major at UT. I'm graduating at the end of the year and taking a year and a
                half off before going to medical school. I enjoy building things, listening to music, collecting vinyl,
                rock climbing, and hanging out with my friends. </p>
                <p>Major responsibilities: Front-End, Back-End, Technical Report</p>
              <p>Commits: 43, Issues: 9, Unit Tests: 3 </p>
              <p><button onclick="window.location.href='https://www.cs.utexas.edu/~ng03/';"
                  class="button1">Portfolio</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img class="img-centered" src="{{url_for('static', filename = 'images/profilepic.jpg')}}"
              alt='keller headshot' width="300" height="300">
            <div class="container">
              <h2>Keller Munroe</h2>
              <a href="mailto:charles.munroe@utexas.edu">charles.munroe@utexas.edu</a>
              <br><br>
              <p>Senior Computational Biology major and aspiring programmer.</p>
              <br><br><br>
              <p>Major responsibilities: Front-End, Back-End, Technical Report</p>
              <p>Commits: 43, Issues: 8, Unit Tests: 3 </p>
              </p>
              <p><button onclick="window.location.href='https://www.cs.utexas.edu/users/kelleron/Index.html';"
                  class="button1">Portfolio</button></p>
            </div>
          </div>
        </div>

        <div class="container text-center">
          <div class="row">
            <div class="column">
              <div class="card">
                <img class="img-centered" src="{{url_for('static', filename = 'images/sakif_half.jpeg')}}"
                  alt='sakif headshot' width="300" height="300">
                <div class="container">
                  <h2>Sakif Islam</h2>
                  <a href="mailto:islam.sakif@utexas.edu">islam.sakif@utexas.edu</a>
                  <br><br>
                  <p>I’m a Senior at UT Austin studying Biochemistry. I will be graduating in May 2023 and will continue
                    my education at medical school in the Fall. I love playing soccer, watching sports, and hanging out
                    with friends.</p>
                    <p>Major responsibilities: Front-End, Back-End, Technical Report</p>
                  <p>Commits: 81, Issues: 38, Unit Tests: 3 </p>
                  <p><button onclick="window.location.href='https://www.cs.utexas.edu/~sakif/';"
                      class="button1">Portfolio</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img class="img-centered" src="{{url_for('static', filename = 'images/Mukhil.jpg')}}"
                  alt='mukhil headshot' width="300" height="300">
                <div class="container">
                  <h2>Mukhil Seralaathan</h2>
                  <a href="mailto:mukhil@gmail.com">mukhil@gmail.com</a>
                  <br><br>
                  <p>I am a Senior Biochemistry major at UT Austin with an Elements of Computing certificate and a
                    Social and Behavioral Sciences minor. I enjoy bouldering, volleyball, and games.</p>
                    <p>Major responsibilities: Front-End, Back-End, Technical Report</p>
                  <p>Commits: 38, Issues: 7, Unit Tests: 3 </p>
                  <p><button onclick="window.location.href='https://www.cs.utexas.edu/~mukhil/';"
                      class="button1">Portfolio</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card double-width-card">
                <div class="container text-center">
                  <h2>Tools Used</h2>
                  <a href="https://www.discord.com">Discord (Team Communication)</a><br>
                  <a href="https://cloud.google.com/">Google Cloud Platform (Website Hosting)</a><br>
                  <a href="https://about.gitlab.com/">GitLab (Git Repository Hosting)</a><br>
                  <a href="https://flask.palletsprojects.com/en/2.1.x/">Flask (Framework for Backend)</a><br>
                  <a href="https://getbootstrap.com/">Bootstrap (Frontend Formatting)</a><br>
                  <a href="https://spotipy.readthedocs.io/en/2.22.1/">Spotipy (Library to access Spotify API)</a><br>
                  <a href="https://www.postgresql.org/docs/current/app-psql.html">psql (Frontend for PostgreSQL)</a><br>
                  <a href="https://github.com/lixxu/flask-paginate">Flask Paginate (Pagination Library for Python, utilized for paginating site)</a><br>
                  <a href="https://jupyter.org/">Jupyter Notebook (used in scraping Spotify API)</a><br>
                  <a href="https://pandas.pydata.org/">Pandas (used in Jupyter Notebook, helped in scraping Spotify API)</a><br>
				  <br>
                  <h2>APIs Used</h2>
                  <a href="https://developer.spotify.com/documentation/web-api/">Spotify Web API</a><br>
				  <br>
                  <h2>API Scraping Details</h2>
                  <p>
                    The APIs were scraped using a python script in Jupyter Notebooks that utilized Pandas and API specific libraries (e.g. Spotipy)
                    to obtain approximately 400 albums that were released from the years 2013 to 2023. The specific API documentation for each API was utilized to extract
                    the needed attributes of these albums to place into our own database. The artists and tracks associated with these albums were then requested
                    from the APIs and the needed attributes of these were obtained. All of the collected data was put into JSON files and then populated into a PSQL database called 
                    amplifydb (locally and as a GCP instance).
                  </p>
				  <br>
                  <h2>GitLab Info</h2>
                  <p>Total # of Commits: 205</p>
                  <p>Total # of Issues: 62</p>
                  <p>Total # of Branches: 2</p>
                  <p>Total # of Unit Tests: 12</p>
                  <a href="{{url_for('unittests')}}"><p><button class="button1">Run Unit Tests</button></p></a>
                  <p><button onclick="window.location.href='https://gitlab.com/sakifislam/cs331e-idb/-/issues';"
                      class="button1">GitLab Issue Tracker</button></p>
                  <p><button onclick="window.location.href='https://gitlab.com/sakifislam/cs331e-idb/';"
                      class="button1">GitLab Project Repo</button></p>
                  <p><button onclick="window.location.href='https://gitlab.com/sakifislam/cs331e-idb-gcp-db';"
                      class="button1">GitLab Database Repo</button></p>
                  <a href="{{url_for('api')}}"><p><button class="button1">AmpliFY API</button></p></a>
                  <p><button onclick="window.location.href='https://www.postman.com/sakifislam/workspace/amplify/collection/26229277-454dda4d-e0e3-448e-bf19-e9462eaa7fd0?action=share&creator=26229277';"
                      class="button1">Postman API Collection</button></p>
                  <p><button onclick="window.location.href='https://gitlab.com/sakifislam/cs331e-idb/-/wikis/Technical-Report:-AmpliFY';"
                      class="button1">GitLab Wiki</button></p>
                  <p><button onclick="window.location.href='https://speakerdeck.com/sakifislam/cs-331e-amplify';"
                      class="button1">Presentation Link (SpeakDeck)</button></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>