<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width" initial-scale="1">
    <header>
        <div class="wrapper" id="wrapper">
        <center>
            <nav>
				<a href="{{url_for('index')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">HOME</button></a>
				<a href="{{url_for('about')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ABOUT</button></a>
				<a href="{{url_for('artist')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ARTISTS</button></a>
				<a href="{{url_for('album')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ALBUMS</button></a>
				<a href="{{url_for('tracks')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">TRACKS</button></a>
            </nav>
        </center>
        </div>
    </header>

    <style>
        p {
        color: #efefef;
        }

        h2 {
        color: #efefef;
        }

        .title {
        color: #6d6d6d;
        }

        html {
        box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
        box-sizing: inherit;
        }

        .column {
        float: left;
        width: 50%;
        margin-bottom: 16px;
        padding: 0 8px;
        }

        .double-width-card {
        width: 202.22222%;
        /* 2x the original width of 100, 2.2 adjusts for the gap in between*/
        }


        .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        height: 100%;
        }

        .container {
        padding: 0 16px;
        }

        .container::after,
        .row::after {
        content: "";
        clear: both;
        display: table;
        }

        .card {
        background-color: #444444;
        text-align: center
        }

        .img-centered {
        display: inline-block;
        margin: 0 auto;
        }


        .button1 {
        padding: 8px;
        color: #188B20;
        background-color: #EFEFEF;
        cursor: pointer;
        width: 100%;
        }

        body {
        background-color: #101010;
        }

        header {
        height: 75px;
        background-color: #101010;
        z-index: 9001;
        text-decoration: none;
        }

        #wrapper {
        margin-left: auto;
        margin-right: auto;
        display: inline;
        position: relative;
        top: 30%;
        text-decoration: none;
        }

        .cent {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        pointer-events: none;
        }

        button {
        background-color: #101010;
        color: white;
        border: 2px solid #4CAF50;
        /* Green */
        text-decoration: none;
        font-size: 110%;
        border-radius: 20px;
        width: 12%;
        text-align: center;
        }

        button:hover {
        background-color: white;
        color: #4CAF50;
        transition-duration: 0.35s;
        }
        
        .button1:hover {
        background-color: #4CAF50;
        color: white;
        transition-duration: 0.35s;
        }

        a:link {
        text-decoration: none;
        }

        a:visited {
        text-decoration: none;
        }

        a:hover {
        text-decoration: none;
        }

        a:active {
        text-decoration: none;
        }
    </style>
    </head>

    <body style="background-color:#101010;"></br>
        <div class="wrapper" id="wrapper">
            <center>
                <a href="{{url_for('artistjson')}}"><p><button class="button">Get Artists</button></p></a>
                <a href="{{url_for('albumjson')}}"><p><button class="button">Get Albums</button></p></a>
                <a href="{{url_for('trackjson')}}"><p><button class="button">Get Tracks</button></p></a>
            </center>
        </div>
    </body>
</html>