<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="shortcut icon" href="{{url_for('static', filename = 'images/AmpliFYbig.jpg')}}">
		<header>
			<div class="wrapper" id = "wrapper">
				<center>
					<nav>
						<a href="{{url_for('index')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">HOME</button></a>
						<a href="{{url_for('about')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ABOUT</button></a>
						<a href="{{url_for('artist')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ARTISTS</button></a>
						<a href="{{url_for('album')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ALBUMS</button></a>
						<a href="{{url_for('tracks')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">TRACKS</button></a>
					</nav>
				</center>
			</div>
		</header>
		<style>
            body {
            background-color: #101010;
            }

            header{
                height: 75px;
                background-color: #101010;
                z-index: 5001;
                text-decoration: none;
            }

            #wrapper {
                margin-left:auto;
                margin-right:auto;
                display: inline;
                position:relative;
                top:30%;
                text-decoration: none;
            }

            .cent {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
            pointer-events: none;
            }

            button {
            background-color: #101010;
            color: white;
            border: 2px solid #4CAF50; /* Green */
            text-decoration: none;
            font-size: 110%;
            border-radius: 20px;
            width:12%;
            text-align: center;
            }

            button:hover {
              background-color: white;
			  color: #4CAF50;
			  transition-duration: 0.35s;
            }

            a:link { text-decoration: none; }
            a:visited { text-decoration: none; }
            a:hover { text-decoration: none; }
            a:active { text-decoration: none; }

            tag {pointer-events: none;}

            img {pointer-events: none;}

            /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
            .flip-card {
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
            background-color: transparent;
            width: 500px;
            height: 500px;
            perspective: 1000px; /* Remove this if you don't want the 3D effect */
            }

            /* This container is needed to position the front and back side */
            .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            }

            /* Do an horizontal flip when you move the mouse over the flip box container */
            .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
            }

            /* Position the front and back side */
            .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            }

            /* Style the front side (fallback if image is missing) */
            .flip-card-front {
            background-color: #bbb;
            color: black;
            }

            /* Style the back side */
            .flip-card-back {
            background-color: #101010;
            color: #4CAF50;
            transform: rotateY(180deg);
            border: thick double green;
            }

	    p{font-size:14px;}


        </style>
    </head>
    <body>
        <div class="mt-3">
        <center>
            <h2 style="color:green">Hover your mouse over the card to see more details!</h2>
            <table>
                <tr>
                {% for artist in data %}
                {% if loop.index0 % 3 == 0 %}
                <tr>
                {% endif %}
                    <td>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="{{artist["artist_image"]}}" alt="{{artist["artist_name"]}}" style="width: 500px; height: 500px; object-fit: cover;">
                                </div>
                                <div class="flip-card-back">
                                    <h2>{{artist["artist_name"]}}</h2>
                                    <div class="container text-center">
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <p style="font-size:16px;"><b><u>Popularity</u></b><br>{{artist["artist_popularity"]}}</p>
                                                <p style="font-size:16px;"><b><u>Followers</u></b><br>{{artist["followers"]}}</p>
                                                <p style="font-size:16px;"><b><u>Sample Track</u>
                                                <a href="{{ url_for('tracks_instance', track_id=artist['sample_track_id']) }}">
                                                     </b><br>{{artist["sample_track"]}}</p> </a>
                                            </div>
                                            <div class="col">
                                                <p style="font-size:16px;"><b><u>Sample Album</u></b>
                                                    <a href="{{ url_for('album_instance', album_id=artist['sample_album_id']) }}">
                                                    <br>{{artist["sample_album"]}}</p></a>
                                                <p style="font-size:16px;"><b><u>Genre(s)</u></b><br>
												{% for genre in artist["genres"] %}
													{% if genre != artist["genres"][-1] %}
														{{genre}}, 
													{% else %}
														{{genre}}<br>
													{% endif %}
												{% endfor %}
												</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                   {% endfor %}

                </tr>
                
            </table>
            <br>         
            <br> <br>
        </div>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
