<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="shortcut icon" href="{{url_for('static', filename = 'images/AmpliFYBIG.jpg')}}">
        <header>
            <div class="wrapper" id="wrapper">
                <center>
                    <nav>
                        <a href="{{url_for('index')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">HOME</button></a>
						<a href="{{url_for('about')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ABOUT</button></a>
						<a href="{{url_for('artist')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ARTISTS</button></a>
						<a href="{{url_for('album')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ALBUMS</button></a>
						<a href="{{url_for('tracks')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">TRACKS</button></a>
                    </nav>
                </center>
            </div>

        </header>
        <style>
            body {
            background-color: #101010;
            overflow: hidden;
            }

            header{
            height: 75px;
            background-color: #101010;
            z-index: 9001;
            text-decoration: none;
            z-index: 20;
            }

            #wrapper {
              margin-left:auto;
              margin-right:auto;
              display: inline;
              position:relative;
              top:30%;
              text-decoration: none;
              z-index: 20;
            }

            

            .cent {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            pointer-events: none;
            z-index: -20;
            }

            button {
            background-color: #101010;
            color: white;
            border: 2px solid #4CAF50; /* Green */
            text-decoration: none;
            font-size: 110%;
            border-radius: 20px;
            width:12%;
            text-align: center;
            z-index: 200;
            }

            button:hover {
            background-color: white;
	    color: #4CAF50;
	    transition-duration: 0.35s;
            }

            a:link { text-decoration: none; }
            a:visited { text-decoration: none; }
            a:hover { text-decoration: none; }
            a:active { text-decoration: none; }

            tag {pointer-events: none;}
        </style>
    </head>
    <body>
        <tag><img src="{{url_for('static', filename = 'images/AmpliFYbig.jpg')}}"alt = 'logo' class="cent" id="the_image" width ="700" height ="700"></tag>
    </body>
</html>
