<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="shortcut icon" href="{{url_for('static', filename = 'images/AmpliFYbig.jpg')}}">
		<header>
			<div class="wrapper" id = "wrapper">
				<center>
					<nav>
						<a href="{{url_for('index')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">HOME</button></a>
						<a href="{{url_for('about')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ABOUT</button></a>
						<a href="{{url_for('artist')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ARTISTS</button></a>
						<a href="{{url_for('album')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">ALBUMS</button></a>
						<a href="{{url_for('tracks')}}"><button style="padding-right:2%; padding-left:2%; margin-left:2%; margin-right:2%; color:green;">TRACKS</button></a>
                                 </center>
                                 </nav>    
                        </div>
                        <center>
                        <div class="functions" style="display:flex; margin-top:3%; align-items: center; justify-content: center;">
                        <div class="dropdown" style="margin-right:10%; margin-bottom: 10px; display:inline">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownSortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#101010; border-color:#4CAF50; width:fit-content;">
                          {{sort_label}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color:#101010; border-color:#4CAF50;">
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='name', sort_order = 'asc', rows = rows, sort_label = 'Name, A to Z', row_label = row_label) }}" style="color:#4CAF50;">Name, A to Z</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='name', sort_order = 'desc', rows = rows, sort_label = 'Name, Z to A', row_label = row_label) }}" style="color:#4CAF50;">Name, Z to A</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='popularity', sort_order = 'asc', rows = rows, sort_label = 'Popularity, ascending', row_label = row_label) }}" style="color:#4CAF50;">Popularity, ascending</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='popularity', sort_order = 'desc', rows = rows, sort_label = 'Popularity, descending', row_label = row_label) }}" style="color:#4CAF50;">Popularity, descending</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='artist', sort_order = 'asc', rows = rows, sort_label = 'Track artist, A to Z', row_label = row_label) }}" style="color:#4CAF50;">Track artist, A to Z</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='artist', sort_order = 'desc', rows = rows, sort_label = 'Track artist, Z to A', row_label = row_label) }}" style="color:#4CAF50;">Track artist, Z to A</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='album', sort_order = 'asc', rows = rows, sort_label = 'Album name, A to Z', row_label = row_label) }}" style="color:#4CAF50;">Album name, A to Z</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='album', sort_order = 'desc', rows = rows, sort_label = 'Album name, Z to A', row_label = row_label) }}" style="color:#4CAF50;">Album name, Z to A</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='danceability', sort_order = 'asc', rows = rows, sort_label = 'Danceability, ascending', row_label = row_label) }}" style="color:#4CAF50;">Danceability, ascending</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='danceability', sort_order = 'desc', rows = rows, sort_label = 'Danceability, descending', row_label = row_label) }}" style="color:#4CAF50;">Danceability, descending</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='loudness', sort_order = 'asc', rows = rows, sort_label = 'Loudness, ascending', row_label = row_label) }}" style="color:#4CAF50;">Loudness, ascending</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='loudness', sort_order = 'desc', rows = rows, sort_label = 'Loudness, descending', row_label = row_label) }}" style="color:#4CAF50;">Loudness, descending</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='tempo', sort_order = 'asc', rows = rows, sort_label = 'Tempo, ascending', row_label = row_label) }}" style="color:#4CAF50;">Tempo, ascending</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='tempo', sort_order = 'desc', rows = rows, sort_label = 'Tempo, descending', row_label = row_label) }}" style="color:#4CAF50;">Tempo, descending</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='energy', sort_order = 'asc', rows = rows, sort_label = 'Energy, ascending', row_label = row_label) }}" style="color:#4CAF50;">Energy, ascending</a>
                                <a class="dropdown-item" href="{{ url_for('tracks', sort_by='energy', sort_order = 'desc', rows = rows, sort_label = 'Energy, descending', row_label = row_label) }}" style="color:#4CAF50;">Energy, descending</a>

                            </div>
                        </div>
						


                        <form action="/tracks" method="get">
                        <input type="text" id="search-input" name="search" placeholder="Search" required>
                        <button style="width:80px;" type="submit">Search</button>
                        </form>



			<div class="dropdown" style="margin-left:10%; margin-bottom: 10px; display:inline">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownRowButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#101010; border-color:#4CAF50; width:fit-content;">
                          {{row_label}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownRowButton" style="background-color:#101010; border-color:#4CAF50;">
                <a class="dropdown-item" href="{{ url_for('tracks', sort_by = sort_by, sort_order = sort_order, rows = 1, sort_label = sort_label, row_label = 'Rows: 1') }}" style="color:#4CAF50;">1</a>
				<a class="dropdown-item" href="{{ url_for('tracks', sort_by = sort_by, sort_order = sort_order, rows = 5, sort_label = sort_label, row_label = 'Rows: 5') }}" style="color:#4CAF50;">5</a>
				<a class="dropdown-item" href="{{ url_for('tracks', sort_by = sort_by, sort_order = sort_order, rows = 10, sort_label = sort_label, row_label = 'Rows: 10') }}" style="color:#4CAF50;">10</a>
				<a class="dropdown-item" href="{{ url_for('tracks', sort_by = sort_by, sort_order = sort_order, rows = 20, sort_label = sort_label, row_label = 'Rows: 20') }}" style="color:#4CAF50;">20</a>
				<a class="dropdown-item" href="{{ url_for('tracks', sort_by = sort_by, sort_order = sort_order, rows = 30, sort_label = sort_label, row_label = 'Rows: 30') }}" style="color:#4CAF50;">30</a>
				<a class="dropdown-item" href="{{ url_for('tracks', sort_by = sort_by, sort_order = sort_order, rows = 40, sort_label = sort_label, row_label = 'Rows: 40') }}" style="color:#4CAF50;">40</a>
				<a class="dropdown-item" href="{{ url_for('tracks', sort_by = sort_by, sort_order = sort_order, rows = 50, sort_label = sort_label, row_label = 'Rows: 50') }}" style="color:#4CAF50;">50</a>
                            </div>
                        </div>
                     </div>
                     </center>
                    
	
		</header>

		<style>
            body {
            background-color: #101010;
            }

            header{
                height: 75px;
                background-color: #101010;
                z-index: 9001;
                text-decoration: none;
            }

            #wrapper {
                margin-left:auto;
                margin-right:auto;
                display: inline;
                position:relative;
                top:30%;
                text-decoration: none;
            }

            .cent {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
            pointer-events: none;
            }

            button {
            background-color: #101010;
            color: white;
            border: 2px solid #4CAF50; /* Green */
            text-decoration: none;
            font-size: 110%;
            border-radius: 20px;
            width:12%;
            text-align: center;
            }

            button:hover {
			  background-color: white;
			  color: #4CAF50;
			  transition-duration: 0.35s;
            }

            a:link { text-decoration: none; }
            a:visited { text-decoration: none; }
            a:hover { text-decoration: none; }
            a:active { text-decoration: none; }

            tag {pointer-events: none;}

            /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
            .flip-card {
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
            background-color: transparent;
            width: 300px;
            height: 300px;
            perspective: 1000px; /* Remove this if you don't want the 3D effect */
            }

            /* This container is needed to position the front and back side */
            .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            }

            /* Do an horizontal flip when you move the mouse over the flip box container */
            .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
            }

            /* Position the front and back side */
            .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            }

            /* Style the front side (fallback if image is missing) */
            .flip-card-front {
            background-color: #bbb;
            color: black;
            }

            /* Center Pagination */
            .pagination {
              display: flex;
              justify-content: center;
              margin-top: 20px;
            }

            /*Next four style elements change the pagination bar to match color scheme of the site*/
            .pagination .page-link {
            color: #4CAF50;
            background-color: #101010;
            border-color: #4CAF50;
            }

            .pagination .page-link:hover {
            color: #101010;
            background-color: #4CAF50;
            border-color: #4CAF50;
            }

            .pagination .page-item.active .page-link {
            color: #101010;
            background-color: #4CAF50;
            border-color: #4CAF50;
            }

            .pagination .page-item.disabled .page-link {
            color: #4CAF50;
            background-color: #101010;
            border-color: #4CAF50;
            }

            /* Style the back side */
            .flip-card-back {
            background-color: #101010;
            color: #4CAF50;
            transform: rotateY(180deg);
            border: thick double green;
            }
            p{font-size:14px;}
        </style>
    </head>
	<body>
        <div class="mt-3">
        <center>
            <br> <br>
            <h2 style="color:green">Hover your mouse or click a card to find out more!</h2>
            <table>
                <tr>
                {% for track in data %}
                {% if loop.index0 % 3 == 0 %}
                <tr>
                {% endif %}
                    <td>
                        <div class="flip-card">
                            <a href="{{ url_for('tracks_instance', track_id=track['track_id']) }}">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="{{track["track_image"]}}" alt="{{track["track_name"]}}" style="width: 300px; height: 300px; object-fit: cover;">
                                </div>
                                <div class="flip-card-back">
                                    <h5>{{track["track_name"]}}</h5>
                                    <div class="container text-center">
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <p style="font-size:12px;"><b><u>Popularity</u></b><br>{{track["track_popularity"]}}</p>
                                                <object><p style="font-size:12px;"><b><u>Artist(s)</u>
                                                    <a href="{{ url_for('artist_instance', artist_id=track['track_artist_id']) }}">
                                                    </b><br>{{track["track_artist"]}}</p></a></object>
                                                    <object><p style="font-size:12px;"><b><u>Album</u>
                                                    <a href="{{ url_for('album_instance', album_id=track['album_id']) }}">
                                                    </b><br>{{track["album_name"]}}</p></a></object>
                                                <p style="font-size:12px;"><b><u>Danceability</u></b><br>{{track["danceability"]}}</p>
                                            </div>
                                            <div class="col">
                                                <p style="font-size:12px;"><b><u>Loudness</u></b><br>{{track["loudness"]}}</p>
                                                <p style="font-size:12px;"><b><u>Tempo</u></b><br>{{track["tempo"]}}</p>
                                                <p style="font-size:12px;"><b><u>Energy</u></b><br>{{track["energy"]}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                    </td>
                {% endfor %}
                </tr>
            </table>
            <br>         
            <div class="pagination">
                {{pagination.links}}
            </div>
            <br> <br>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
